//Fonts
font-open-sans = 'Open Sans','Helvetica Neue',Arial,sans-serif
font-merriweather = Merriweather,'Helvetica Neue',Arial,sans-serif;
header-font-size = 65px

//Theme
light-white = rgba(255, 255, 255, .7)
background-about = rgba(225, 190, 231, .5)
background-footer= rgba(75, 0, 130, 1); //Dark purple

//Buttons Color
facebook-color = rgba(59, 89, 152, 1)
twitter-color = rgba(0, 132, 180, 1)
