.navbar-colored
.container#description-pin
  .row
    h1 Result

  .row
    .col-xs-8.
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.

    .col-xs-4.avatar
      img.img-responsive( src="../images/avatar.png" height="100" width="100")

  .row
    .col-sm-offset-2.col-sm-8
      img.gallery-pin.img-responsive( src="../images/avatar.png" )
  hr
  .row
    .col-xs-offset-2.col-xs-2
      a.thumbnail
        img( src="../images/avatar.png" )
    .col-xs-2
      a.thumbnail
        img( src="../images/avatar.png" )
    .col-xs-2
      a.thumbnail
        img( src="../images/avatar.png" )
    .col-xs-2
      a.thumbnail
        img( src="../images/avatar.png" )
