.navbar-colored
.background-pink
  .search-input
    .container
      .row
        .col-12-xs
          form.input-group(ng-submit="searchCtrl.search()")
            input.form-control#input-search-pins(placeholder="Where are you going?" aria-describedby="search-input-bar")
            span.input-group-addon#search-input-bar
              span.glyphicon.glyphicon-search

  .result-display-pins
    .container
      .row(ng-repeat="pin in searchCtrl.pins")
        .col-12-sm
          .panel
            #title-panel
              img.img-circle(src="../images/avatar.png")
              h4 {{pin.title}}
            p.
              {{pin.content}}
