.navbar-colored
.background-pink
  .search-input
    .container
      .row
        .col-12-xs
          form.input-group(name="searchInputForm")
            span.input-group-addon#search-input-bar
              i.fa.fa-search
            input.form-control#input-search-pins(name="input" placeholder="Where are you going?" aria-describedby="search-input-bar")

  .result-display-pins
    .container
      .row(ng-show="!searchCtrl.pins.length && searchInputForm.$submitted")
        h2 We sorry
        p The place you're looking for did not produce a results.
      .row(ng-repeat="pin in searchCtrl.pins")
        .col-12-sm
          a(ui-sref="pin({pinId: pin._id})")
            .panel
              #title-panel
                img.img-circle(src="../images/avatar.png")
                h4 {{pin.title}}
              p.
                {{pin.content}}
