// modal sign in
.modal#signin-modal(tab-index="-1" role="dialog")
  .modal-dialog.modal-sm
    .modal-content
      .modal-body.signin-body
        .row
          .col-xs-12.text-center
            button.btn.facebook-modal-btn
              i.fa.fa-facebook-official
              span Facebook
        .row
          .col-xs-12.text-center.top-buffer
            button.btn.twitter-modal-btn
              i.fa.fa-twitter-square
              span Twitter

        .modal-or-separator
          span or
          hr

        .row
          .col-sm-12
            form
              .form-group
                label.control-label(for="email-signin") Email address
                input.form-control#email-signin(type="text")
              .form-group
                label.control-label(for="password-signin") Password
                input.form-control#password-signin(type="password")
              button.btn.modal-btn Sign In

        hr

        .row
          .col-sm-12
            | Don’t have an account? 
            a(href="#" data-dismiss="modal" data-toggle="modal" data-target="#signup-modal") Sign up
